# Global environment
NODE_ENV=development

# Gateway
GATEWAY_PORT=3000
USERS_SERVICE_URL=http://users-service:4002
PRODUCTS_SERVICE_URL=http://products-service:4003
INVENTORY_SERVICE_URL=http://inventory-service:4004
SALES_SERVICE_URL=http://sales-service:4005
NOTIFICATIONS_SERVICE_URL=http://notifications-service:4006
LOGIC_CORRELATION_SERVICE_URL=http://logic-correlation-service:4007
AI_SERVICE_URL=http://ai-service:8000

# Users service
USERS_SERVICE_PORT=4002
USERS_SERVICE_DATABASE_URL=mysql://boutique:secret@mysql-users:3306/boutique_users

# Products service
PRODUCTS_SERVICE_PORT=4003
PRODUCTS_SERVICE_DATABASE_URL=mysql://boutique:secret@mysql-products:3306/boutique_products

# Inventory service
INVENTORY_SERVICE_PORT=4004
INVENTORY_SERVICE_DATABASE_URL=mysql://boutique:secret@mysql-inventory:3306/boutique_inventory

# Sales service
SALES_SERVICE_PORT=4005
SALES_SERVICE_DATABASE_URL=mysql://boutique:secret@mysql-sales:3306/boutique_sales

# Notifications service
NOTIFICATIONS_SERVICE_PORT=4006
NOTIFICATIONS_SERVICE_DATABASE_URL=mysql://boutique:secret@mysql-notifications:3306/boutique_notifications

# Logic correlation service
LOGIC_CORRELATION_SERVICE_PORT=4007

# AI service
AI_SERVICE_PORT=8000
AI_SERVICE_DATABASE_URL=mysql://boutique:secret@mysql-ai:3306/boutique_ia

# Frontend
VITE_API_URL=http://localhost:8080/api
